<header class="header-login-signup">
	<div class="header-limiter">
		<h1><a>SHAQ<span>Overflow</span></a></h1>
		<nav>
			<a href="#">Questions</a>
			<a href="#" class="selected">Tags</a>
			<a href="#">Users</a>
		</nav>
		<ul>
			<% if logged_in? %>
			  <li><%= link_to "Create Post", new_question_path %></li>
			  <li><%= link_to "Logout", logout_path, method: :delete, id: "logout-link" %></li>
			<% else %>
			  <li><%= link_to "Login", login_path %></li>
			  <li><%= link_to "Sign Up", new_user_path %></li>
			<% end %>
			</ul>
	</div>
</header>

<div class="container">