 <% if logged_in? %>
  <li><%= link_to "Create Post", new_question_path %></li>
  <li><%= link_to "Logout", logout_path, method: :delete, id: "logout-link" %></li>
<% else %>
  <li><%= link_to "Login", login_path %></li>
  <li><%= link_to "Sign Up", new_user_path %></li>
<% end %>
<div class="spacer"></div>
<div class="spacer"></div>

<header class="header-two-bars">
	<div class="header-first-bar">
		<div class="header-limiter">
			<h1><a href="#">Shaq<span>Overflow</span></a></h1>
			<nav>
				<a href="#">Overview</a>
				<a href="#">Surveys</a>
				<a href="#">Reports</a>
				<a href="#">Roles</a>
			</nav>

			<a href="#" class="logout-button">Logout</a>
		</div>

	</div>

	<div class="header-second-bar">

		<div class="header-limiter">
			<h2><a href="#">Survey name</a></h2>

			<nav>
				<a href="#"><i class="fa fa-comments-o"></i> Questions</a>
				<a href="#"><i class="fa fa-file-text"></i> Results</a>
				<a href="#"><i class="fa fa-group"></i> Participants</a>
				<a href="#"><i class="fa fa-cogs"></i> Settings</a>
			</nav>

		</div>

	</div>

</header>

<div class="container">